<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<form th:action="@{/}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Mail</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tr th:each="user : ${people}">
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.email}"/>
            <td><a th:href="@{/updateUser(id=${user.id})}"> Update </a>
                <a th:href="@{/deleteUser(id=${user.id})}"> Delete </a></td>
        </tr>
    </table>
    <br>
    <input type="button" value="Add"
           onclick="window.location.href =`addNewUser`  "/>
</form>
</body>
</html>